@page
@model PrivacyModel
@{
    ViewData["Title"] = "Inversiones";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae quidem vel cum periculo est quaerenda vobis; Nescio quo modo praetervolavit oratio. Non igitur potestis voluptate omnia dirigentes aut tueri aut retinere virtutem. <b>Hic nihil fuit, quod quaereremus.</b> Utrum igitur tibi litteram videor an totas paginas commovere? Tecum optime, deinde etiam cum mediocri amico. Duo Reges: constructio interrete. </p>

<p>Fortasse id optimum, sed ubi illud: Plus semper voluptatis? Quis est, qui non oderit libidinosam, protervam adolescentiam? Hoc etsi multimodis reprehendi potest, tamen accipio, quod dant. Unum nescio, quo modo possit, si luxuriosus sit, finitas cupiditates habere. Non minor, inquit, voluptas percipitur ex vilissimis rebus quam ex pretiosissimis. </p>

<h2>Quod quidem iam fit etiam in Academia.</h2>

<p>Nec lapathi suavitatem acupenseri Galloni Laelius anteponebat, sed suavitatem ipsam neglegebat; Sic enim censent, oportunitatis esse beate vivere. Si enim ad populum me vocas, eum. Hoc mihi cum tuo fratre convenit. </p>

